:root {
  --primary: #F4512C;
  --primary-lighter: #FF7F4D;
  --secondary: #5E1B89; 
  --secondary-lighter: #9D71BC; 
  --BG-light: #F8F9FA;
  --text-default: #616161;
  --text-strikethrough: #A9A9A9;
}


.header {
  background: linear-gradient(to right, var(--primary-lighter), var(--secondary-lighter));
  padding-bottom: 20px;
  margin-bottom: 20px;
}

body {
  background-color: var(--BG-light);
}

.btn-primary, .btn.btn-primary:active {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: var(--primary-lighter) !important;
  border-color: var(--primary) !important;
}

.btn-secondary, .btn.btn-secondary:active  {
  background-color: var(--secondary) !important;
  border-color: var(--secondary) !important;

}

.btn-secondary:hover, .btn-secondary:focus {
  background-color: var(--secondary-lighter) !important; 
  border-color: var(--secondary) !important;
}

.form-control-secondary:focus {
  border-color: #9D71BC !important;
  box-shadow: 0 0 0 0.15rem rgba(94, 27, 137, 0.25) !important;
}

.form-control-primary:focus {
  border-color: #FF7F4D !important;
  box-shadow: 0 0 0 0.15rem rgba(244, 81, 44, 0.25) !important;
}

.todo-completed {
  font-size: 20px;
  text-decoration: line-through;
  color: var(--text-strikethrough);
  text-decoration-color: var(--text-strikethrough);
}

.todo-incomplete {
 font-size: 20px;
 color: var(--text-default);
}

.todo-creation-time {
  color: var(--text-default);
}

.todo-checkbox {
  display: none;
}

.todo-checkbox + span {
  width: 16px;
  height: 16px;
  background-color: var(--BG-light);
  border: 1px solid var(--secondary);
  border-radius: 4px;
  cursor: pointer; 
  display: inline-block;
}

.todo-checkbox:checked + span {
  background-color: var(--secondary);
  border-color: var(--secondary); 
}

.todo-checkbox:checked + span::after {
  content: '\2713';
  font-size: 12px;
  color: white !important;
  display: block; 
  text-align: center; 
  line-height: 16px; 
}

.todo-checkbox:hover + span {
  background-color: var(--secondary-lighter);
}
